.single-spot {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spot-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20vh;
}

.spot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spot img {
    max-width: 500px;
    max-height: 350px;
    /* width: fit-content; */
    border-radius: 5%;
}

h2 {
    margin: 0;
    position: unset;
}

#edit-button {
    background-color: white;
    border: none;
    padding: 0;
    margin-left: -8px;
}

#rating {
    margin-left: -11px;
    margin-top: 10px;
}

#host-div {
    font-size: x-large;
    border-bottom: 1px solid lightgray;
}

#price-div {
    position: fixed;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 60%;
    margin-top: 2%;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px #d7d7d7;
    padding: 5px
}

#description {
    width: 500px;
}
