.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0;
}

.review-content img {
    max-width: 300px;
    max-height: 200px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */

}

.user-reviews {
    border: 1px solid black;
    margin-bottom: 5px;
}

.user-reviews a {
    background-color: salmon;
    border-radius: 10px;
    padding: 1px;
}
