.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 10%;
    border-bottom: 1px solid lightgray;
}

.review-content img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 5%;
    margin-bottom: 5%;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */

}

.user-reviews-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20vh;
}

.user-reviews a {
    background-color: salmon;
    border-radius: 10px;
    padding: 1px;
}

.edit-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews-label {
    font-size: larger;
    font-weight: bold;
    margin-top: 5%;
    border-bottom: 1px solid lightgray;
}


#name-stars {
    display: flex;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

#review {
    font-size: larger;
    font-style: italic;
}

#divider {
    border-bottom: 1px solid lightgray;
}

#edit-review-button {
    background-color: unset;
    margin-left: -12px;
    margin-bottom: 5%;
}

#spot-name {
    font-size: large;
    margin-bottom: 5px;
}

#stars {
    margin-left: -10px;
    margin-bottom: 10px;
}
