.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0;
}

.review-content img {
    max-width: 300px;
    max-height: 200px;
}
