.spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20vh;
}

.spot-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container img {
    width: 320px;
    height: 300px;
    border-radius: 5%;
    margin-bottom: 10px;
}

#location-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#price {
    font-weight: bolder;
    margin-right: 5px;
}

#price-nightly {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    position: fixed;
    margin-left: 45vw;
}
