.spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 20vh; */
    padding-top: 20vh;
    padding-left: 30px;
}

.spot-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    width: 320px;
    height: 300px;
}

.wrapper img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 10px;
}

#location-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#price {
    font-weight: bolder;
    margin-right: 5px;
}

#price-nightly {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
}
