.book-spot {
    position: fixed;
    width: 375px;
    height: 500px;
    font-weight: bold;
    font-size: larger;
    margin-left: 60%;
    margin-top: 2%;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px #d7d7d7;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-header {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 20px;
}

.date-select {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    width: 300px;
    padding: 10px;
}

.date-select:hover {
    border: 1px solid black;
}

.check-in,
.check-out {
    font-size: small;
}

#date-select-button {
    border: none;
    background: none;
    width: auto;
}
