.search-bar {
    border: 1px solid lightgrey;
    border-radius: 50px;
    width: 400px;
    height: 35px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.fa-magnifying-glass {
    /* font-size: small; */
}

#search-button {
    background: none;
    border: none;
    width: 30px;
    color: salmon;
}
