ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.profile-dropdown {
    /* display: flex; */
    /* flex-direction: column; */
    box-shadow: 0 0 10px #d7d7d7;
    border-radius: 5px;
}

#home-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3333px;
    padding-right: 6px;
    text-decoration: none;
    color: black;
}

#home-button:visited {
    color: black;
}

#create-spot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3333px;
    padding-right: 6px;
    text-decoration: none;
    color: black
}

#create-spot:visited {
    color: black;
}
