.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: white;
    z-index: 99;
}

i {
    font-size: large;
    margin-left: 10px;
}


ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-right: 5vw;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 25px;
}

.menu-button {
    background-color: white;
    width: 75px;
    height: 50px;
    padding-right: 15px;
}

.menu-button:hover {
    border: 1px solid salmon;
}

.profile-dropdown {
    box-shadow: 0 0 10px #d7d7d7;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    /* padding-left: 5px; */
    width: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-dropdown li {
    /* margin-bottom: 10px; */
    width: 100%;
    height: 30px;
    padding: 0;
    margin: 0;
    justify-items: center;
}

.profile-dropdown li:hover {
    background-color: rgb(237, 237, 237);
}

.footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid lightgrey;
    bottom: 0;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

.footer-links {
    display: flex;
    font-size: larger;
    margin-right: 30px;
}

.fa-github,
.fa-linkedin {
    font-size: larger;
}

#greeting {
    border-bottom: none;
}

#home-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 5vw;
    font-size: x-large;
}

#home-button a {
    color: salmon;

}

#home-button img {
    width: 50px;
    height: 50px;
    margin-right: 2vw;
}

#home-button:visited {
    color: salmon;
    text-decoration: none;
}

#create-spot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

#create-spot:visited {
    color: black;
}

#create-spot:hover {
    border-bottom: 1px solid salmon;
}

#logout-button {
    border: none;
    background: none;
    font-size: medium;
    padding: 0;
}

#login-button:hover {
    border: 1px solid salmon;
}

#signup-button:hover {
    border: 1px solid salmon;
}
