.login-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: white;
}

input {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#login-button {
    background-color: white;
    border: none;
}

#demo-button {
    background-color: white;
    border: none;
}
